body {
	color: #88c5c0;
	/*background-color: #005c85;*/
	background-image: url("./Images/concept-papier-peint-beton-colore-texture_53876-31799.jpg");
	background-repeat: repeat-y;
	background-size: cover;
	width: 100%;
}
a:any-link {
	color: white;
	text-decoration: none;
}
a:hover {
	color: rgb(192, 85, 85);
}
.page {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
}
/* entête de page */
header {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	background-color: rgba(0, 92, 133, 0, 3);
	background-image: url("./Images/Nuages.png");
	background-repeat: no-repeat;
	background-clip: content-box;
}
.logo {
	background-image: url("./Images/logo.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 20%;
}
.titre {
	width: 60%;
	text-align: center;
	color: #88c5c0;
}
.burger {
	width: 20%;
	text-align: right;
	/*background-image: url("./Images/Avatar3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;*/
}
.flexIllustrator {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
/* Corps de la page */
main {
	width: 100%;
	/*background-color: #005c85;*/
	display: block;
	color: #88c5c0;
}
.presentation {
	width: 100%;
}
/* Accordéon */
#accordionExample {
	display: flex;
	flex-direction: column;
	/*border: 2px solid whitesmoke;*/
	/*padding: 20px;*/
	/*margin: 10px;*/
}
.card {
	/*border: 1px solid  #005c85;*/
	/*padding: 10px 20px 10px 20px;*/
	/*border-radius: 2px;*/
	box-shadow: #005c85 3px 3px 2px;
}
h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}
button {
	border: 0;
	background-color: lightgray;
	color: #005c85;
}
button:hover {
	cursor: pointer;
	color: rgb(192, 85, 85);
}
.card-body {
	padding: 10px;
	border: 1px solid #88c5c0;
	border-top: 0;
	/*border-bottom: 0;*/
}
.card-header {
	padding: 10px 20px 10px 20px;
	background-color: lightgray;
	border: 1px solid #88c5c0;
}
#collapseOne {
	display: block;
	overflow: hidden;
	height: auto;
}
.collapse {
	transform: scaleX(1);
	transition: all;
	transition-delay: 0.3s;
}
#collapseTwo {
	display: block;
	overflow: hidden;
	height: 0;
}
#collapseThree {
	display: block;
	overflow: hidden;
	height: 0;
}
#collapseFour {
	display: block;
	overflow: hidden;
	height: 0;
}
.certificats {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* Pied de page */
footer {
	display: flex;
	color: #88c5c0;
	background-color: #005c85;
	width: 100%;
}
